<div class="container small">

<h1>Rumblr</h1>

<button class= "login-button" type="button" name="login">Login</button>
<button class= "signup-button" type="button" name="signup">Sign up</button>

<form class="hidden login-form" action="/login" method="post">
  <h3>Log In</h3><br>
  <p>Email:</p>
  <input type="email" name="email"><br>
  <p>Password:</p>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Log in">
</form>

<form class="hidden signup-form" action="/signup" method="post">
  <h3>Sign up</h3><br>
  <p>Name:</p>
  <input type="text" name="name">
  <p>Username:</p>
  <input type="text" name="username"><br>
  <p>Birthdate:</p>
  <input type="date" name="birthdate">
  <p>Email:</p>
  <input type="email" name="email"><br>
  <p>Password:</p>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Sign up">
</form>

</div>
