<div class="container small">

<h1>Junglr</h1>

<button id="option"class="login-button" type="button" name="login">Login</button>
<button id="option"class="signup-button" type="button" name="signup">Sign up</button>

<form class="hidden login-form" action="/login" method="post">
  <h3>Log In</h3><br>
  <label>Email:</label>
  <input type="email" name="email"><br>
  <label>Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Log in">
  <button type="button" name="cancel">Cancel</button>
</form>

<form class="hidden signup-form" action="/signup" method="post">
  <h3>Sign up</h3><br>
  <label>Name:</label>
  <input type="text" name="name">
  <label>Username:</label>
  <input type="text" name="username"><br>
  <label>Birthdate:</label>
  <input type="date" name="birthdate">
  <label>Email:</label>
  <input type="email" name="email"><br>
  <label>Password:</label>
  <input type="password" name="password"><br><br>
  <label>Choose your avatar</label><br>
  <div class="grid">

    <div class="">
      <img src="/avitars/dog.png" alt="">
      <input type="radio" name="photo" value="dog">
    </div>

    <div class="">
      <img src="/avitars/gorilla.png" alt="">
      <input type="radio" name="photo" value="gorilla">
    </div>

    <div class="">
      <img src="/avitars/fox.png" alt="">
      <input type="radio" name="photo" value="fox">
    </div>

    <div class="">
      <img src="/avitars/cat.png" alt="">
      <input type="radio" name="photo" value="cat">
    </div>

    <div class="">
      <img src="/avitars/koala.png" alt="">
      <input type="radio" name="photo" value="koala">
    </div>

    <div class="">
      <img src="/avitars/lion.png" alt="">
      <input type="radio" name="photo" value="lion">
    </div>

    <div class="">
      <img src="/avitars/tiger.png" alt="">
      <input type="radio" name="photo" value="tiger">
    </div>

    <div class="">
      <img src="/avitars/bunny.png" alt="">
      <input type="radio" name="photo" value="bunny">
    </div>

  </div> <br><br>
    <h3>Anything you're interested in? Enter them below</h3>
    <p>Seperate each tag by a comma</p>
    <textarea name="tags" rows="8" cols="80"placeholder="tag1,tag2,tag3"></textarea>
  <input type="submit" value="Sign up">
  <button type="button" name="cancel">Cancel</button>
</form>

</div>
