<nav class="">
  <div class="row nav-row">
<div class="column search">
  <!-- <img  id="icon" src="https://image.freepik.com/free-icon/tumblr-logo_318-42206.jpg" alt=""> -->
  <form class="" action="index.html" method="post">
    <input type="search" name="search" placeholder="Search for tags...">
    <!-- <input type="submit" name="submit"> -->
    <button type="submit" name="button">
      <i class="fas fa-search"></i>
    </button>
  </form>
    <!-- <button type="submit" name="button">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button> -->

</div>
<div class="column">
  <ul>
    <li><button type="button" name="home">Home</button></li>
    <li><button type="button" name="profile">Profile</button></li>
    <li><button type="button" name="settings">Settings</button></li>
    <li><button type="button" name="logout">Log out</button></li>
  </ul>

</div>

  </div>
</nav>
<script type="text/javascript">
  var homeButton = document.querySelector("button[name = 'home']");
  var profileButton = document.querySelector("button[name = 'profile']");
  var settingsButton = document.querySelector("button[name = 'settings']");
  var logoutButton = document.querySelector("button[name = 'logout']");

  homeButton.onclick = function () {
    location.href = "/feed";
  };
  profileButton.onclick = function () {
    location.href = "/profile";
  };
  settingsButton.onclick = function () {
    location.href = "/settings";
  };
  logoutButton.onclick = function () {
    location.href = "/";
  };

</script>
